<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254498490258-upt8fhuqvohcvtuurqp3d9u6r580mhf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254498490258-upt8fhuqvohcvtuurqp3d9u6r580mhf6</string>
	<key>API_KEY</key>
	<string>AIzaSyAiic9zwtPTqX8iB02aq9b2Lt7FPr6llPA</string>
	<key>GCM_SENDER_ID</key>
	<string>254498490258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.coffeesolution.messenger.app</string>
	<key>PROJECT_ID</key>
	<string>cs-messenger-77d68</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-messenger-77d68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254498490258:ios:cb87306b3f41d8a12ea34b</string>
</dict>
</plist>